# Database Config
DB_NAME=gitforge
DB_USER=postgres
DB_PASSWORD=root_password_change_me

# Redis Config (Used by BullMQ and caching)
REDIS_URL=redis://redis:6379

# MinIO / Object Storage Config
MINIO_ACCESS_KEY=minio_root
MINIO_SECRET_KEY=minio_password_change_me
MINIO_BUCKET=gitforge-assets

# Authentication Security Config
JWT_SECRET=super_jwt_secret_change_me

# Domain routing (Nginx / SSL)
DOMAIN=gitforge.example.com
