# Database Configuration
DATABASE_URL="postgresql://postgres:password@localhost:5432/gitforge?schema=public"

# Cache & Queues Configuration
REDIS_URL="redis://localhost:6379"

# Object Storage Configuration (MinIO)
MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadminpassword"

# Port Configurations
SSH_PORT=2222
PORT=3001
